<%- include('public/header') %>  
<section id="add" class="container">
  <div class="form-wrap">
    <h1>Register</h1>
    <p>Please fill all the information below</p>
    <form action="/register" method="POST">
      <div class="input-group">
        <label for="first_name">First Name</label>
        <input type="text" name="first_name" id="first_name" class="input-box" placeholder="Enter Your First Name"
          maxlength="100" required>
      </div>
      <div class="input-group">
        <label for="last_name">Last Name</label>
        <input type="text" name="last_name" id="last_name" class="input-box" placeholder="Enter your Last Name"
        maxlength="100">
      </div>
      <div class="input-group">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" class="input-box" placeholder="Enter an Email">
      </div>
      <div class="input-group">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" class="input-box" placeholder="Enter your Last Name"
        minlength="5" maxlength="15">
      </div>
      <div class="input-group">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="input-box" placeholder="Enter a Password"
          required>
      </div>
      <div class="input-group">
        <label for="role"> I want to :</label>
        <select name="role" id="role">
          <option value="" selected>-- Select Answer --</option>
          <option value="company" >Post a Job</option>
          <option value="applicant" >Look for a Job</option>
        </select>
      </div>
      <input type="submit" value="Register" class="btn btn-reverse">
    </form>
    <br>
    <a href="/login">Already Have an Account ?</a>
  </div>
</section>
<%- include('public/footer') %>  