<nav>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <% if (isCompany) { %> 
      <li>
        <a href="/jobs/add">Add Job</a>
      </li>
       <% } %> 
    <li>
      <a href="/jobs">All Jobs</a>
    </li>
    <li>
      <% if(isLogin) {%>
        <a href="/logout">Logout</a>  
      <% } else { %>
        <a href="/login">Login</a>  
      <% } %> 
    </li>         
  </ul>
</nav>